    body{
       background-image: url(stars.jpeg);
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
     }
ul{
    color: rgb(243, 235, 237);
    text-align: left;
}
     h1{
         color: rgb(220, 232, 241);
         text-align: center;
         padding: large;
         text-decoration: dotted;
        }
         h2{
             color: rgb(232, 236, 239);
             text-align: center;
             padding: 14px 16px;
             text-decoration: dotted;
            }
             h3{
                 color: aliceblue;
                 text-align: center;
                 padding: 14px 16px;
                 text-decoration: dotted;
                }
                 h4{
                     color: rgb(246, 248, 250);
                     text-align: center;
                     padding: 14px 16px;
                     text-decoration: dotted;
                    } 