*{
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(pinkstarbanner.gif);
    background-size: cover;
    color: rgb(62, 30, 94);
    font-size: 2em;
}